@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

$primary-color: #0f0f0f;
$secondary-color: #212529;
$primary-text-color: #fff;
$primary-other-color: #3498db;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}

::-webkit-scrollbar {
 width: 7px;
 height: 5px;
}

::-webkit-scrollbar-track {
 background-color: transparent;
 padding: 0.2rem;
}

::-webkit-scrollbar-thumb {
 background-color: #888;
 border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
 background-color: #666;
}

::-webkit-scrollbar-button {
 display: none;
}

body {
 margin: 0;
 font-family: "Poppins", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 background-color: $primary-color;
 color: $primary-text-color;
}

img {
 position: relative;
}
img::after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: $secondary-color url(video-error-thumb.jpg) no-repeat center;
 background-size: cover;
 color: transparent;
}

.row {
 margin: 0 !important;
}

.alert {
 .btn-close:hover,
 .btn-close:focus {
  box-shadow: none !important;
 }
}

/*** __NAVBAR ***/
.__navbar {
 width: 100%;
 min-height: 70px;
 position: sticky;
 top: 0;
 left: 0;
 background-color: $primary-color;
 z-index: 10000;
 .navbar {
  padding: 0.3rem 1rem;
  .navbar-brand {
   a {
    text-decoration: none;
   }
   h2 {
    margin: 0;
    margin-left: 0.3rem;
    padding-top: 0.2rem;
    color: $primary-text-color;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: -1px;
   }
  }
  .input-group {
   max-width: 600px;
   margin-right: 0.5rem;
   input {
    background-color: $primary-color;
    padding-left: 1rem;
    font-size: 0.9rem;
    color: $primary-text-color;
    border-color: rgba($primary-text-color, 0.2);
    &::placeholder {
     color: rgba($primary-text-color, 0.6);
    }
    &:focus {
     box-shadow: none !important;
     border-color: $primary-other-color;
    }
   }
   button {
    background-color: rgba($primary-text-color, 0.1);
    border-left: 0 !important;
    border-color: rgba($primary-text-color, 0.2) !important;
    svg {
     fill: $primary-text-color;
    }
   }
   button:last-child {
    padding: 0.5rem 0.8rem;
   }
  }
  .menu {
   .btn-round {
    padding: 0.5rem 0.6rem;
   }
   .btn-round#profile-image {
    padding: 0.3rem 0.35rem;
   }
  }
 }
 .btn-round {
  background-color: transparent;
  padding: 0.3rem 0.55rem;
  border: 0;
  outline: 0;
  border-radius: 10rem !important;
  svg {
   fill: $primary-text-color;
   margin-top: -0.2rem;
  }
  img {
   display: inline-block;
   width: 33px;
   height: 33px;
   border-radius: 100rem;
   object-fit: cover;
  }
  &:hover {
   background-color: rgba($primary-text-color, 0.1);
  }
  &:active,
  &.active {
   background-color: rgba($primary-text-color, 0.15);
  }
 }
 #notifNumber {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.6rem;
  padding-top: 0.3rem;
  border-radius: 100rem;
  margin-left: -1.2rem;
  margin-top: 0.5rem;
 }

 .__account-menu,
 .__notification-menu {
  position: absolute;
  right: 0;
  width: 0px;
  min-height: 400px;
  background-color: $secondary-color;
  border-radius: 0.8rem;
  z-index: 100000;
  font-size: 0.8rem;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  &.visible {
   opacity: 1;
   width: 300px;
  }
  .spinner {
   margin-top: 3rem;
  }
  & > * > h5 {
   margin: 0 !important;
   padding: 1rem;
   font-size: 0.9rem;
   font-weight: 800;
   color: $primary-text-color;
   border-bottom: 1px solid rgba($primary-text-color, 0.1);
  }
  .__body {
   width: 100%;
   padding: 1rem;
   input {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
   }
   button {
    font-size: 0.8rem;
    margin: 0.4rem 0;
   }
  }
 }

 .__notification-menu {
  &.visible {
   opacity: 1;
   width: 400px;
  }
  .__body {
   padding: 0;
   .list-group {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 0;
    user-select: none;
    .list-group-item {
     padding: 0.8rem 0.8rem;
     border: 0;
     border-bottom: 1px solid rgba($primary-text-color, 0.1);
     background-color: transparent;
     &:hover {
      background-color: rgba($primary-text-color, 0.05) !important;
     }
     h6 {
      font-size: 0.8rem;
      font-weight: 800;
      margin: 0;
      padding-bottom: 0.2rem;
     }
     p {
      font-size: 0.7rem;
      margin: 0;
     }
    }
   }
  }
 }

 .loading-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: $primary-other-color;
  z-index: 100000;
  animation: loading-bar-animation 1s linear;
 }

 @keyframes loading-bar-animation {
  0% {
   height: 2px;
   left: -85%;
  }
  100% {
   height: 2px;
   left: 100%;
  }
 }

 .layer-blur {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($primary-color, 0.2);
  backdrop-filter: blur(5px);
  z-index: -1000;
 }
}

/*** __SIDEMENU ***/
.__sidemenu {
 position: sticky;
 top: 0;
 left: 0;
 z-index: 999;
 padding: 1rem 3rem 4rem 0;
 button {
  width: 100%;
  padding: 0.5rem 0.8rem;
  text-align: left;
  background-color: transparent;
  color: $primary-text-color;
  border-radius: 0.8rem;
  border: 0;
  font-size: 0.9rem;
  //margin: 0.1rem 0;
  svg {
   fill: $primary-text-color;
   margin-top: -0.2rem;
   margin-right: 1rem;
  }
  &:hover {
   background-color: rgba($primary-text-color, 0.1);
  }
  &:active {
   background-color: rgba($primary-text-color, 0.15);
  }
 }
 .mobileBtn {
  display: none;
 }
 a.active {
  button {
   background-color: rgba($primary-other-color, 0.2);
   font-weight: 800;
   color: $primary-other-color;
  }
  svg {
   fill: $primary-other-color;
  }
  &:hover {
   button {
    background-color: rgba($primary-other-color, 0.2);
   }
  }
 }
}

/*** __PAGES ***/

.__commonCss {
 & > .row > div:last-child {
  padding: 1rem 0;
 }
}
/* __HOME */
.__home {
 .__video-container {
 }
}

.__video {
 a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
 }
 .video {
  .thumbnail {
   position: relative;
   width: 100%;
   img {
    width: 100%;
    min-height: 200px;
    aspect-ratio: 16/9;
    background-color: rgba($primary-text-color, 0.1);
    object-fit: cover;
    border-radius: 0.8rem;
    position: relative;
   }
   span {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
    background-color: #1e1e1e;
    border-radius: 0.2rem;
    padding: 0 0.2rem;
   }
  }
  .info {
   padding: 0.8rem 0.2rem;
   img {
    width: 35px;
    height: 35px;
    border-radius: 100rem;
    background-color: rgba($primary-text-color, 0.1);
    object-fit: cover;
   }
   p {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
    margin: 0;
    text-transform: capitalize;
   }
   .vws {
    font-size: 0.7rem;
    color: rgba($primary-text-color, 0.5);
   }
   .details {
    line-height: 0.78rem;
    padding-top: 0.2rem;
    span {
     color: rgba($primary-text-color, 0.5);
     padding: 0 0.5rem;
    }
    span:first-child {
     font-size: 0.78rem;
    }
    span:last-child {
     font-size: 0.68rem;
    }
   }
  }
  &:hover {
   opacity: 0.7;
  }
  &:active {
   background-color: rgba($primary-text-color, 0.1);
   border-top-left-radius: 0.8rem;
   border-top-right-radius: 0.8rem;
   outline: 1px solid rgba($primary-text-color, 0.2);
   opacity: 1;
  }
 }
}

.__category-container {
 position: relative;
 margin: 0.1rem 0;
 margin-bottom: 1rem;
 white-space: nowrap;
 &::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8%;
  height: 100%;
  background: linear-gradient(to right, transparent, $primary-color);
 }
 .category {
  height: fit-content;
  width: fit-content;
  padding: 0.3rem 0.8rem;
  background-color: rgba($primary-text-color, 0.1);
  color: $primary-text-color;
  border-radius: 0.8rem;
  border: 0;
  font-size: 0.8rem;
  margin: 0 0.5rem;
  cursor: pointer;
  user-select: none;
  svg {
   fill: $primary-text-color;
   margin-top: -0.2rem;
   margin-right: 1rem;
  }
  &.active {
   background-color: rgba($primary-text-color, 0.7);
   color: $primary-color;
  }
  &:hover {
   opacity: 0.8;
  }
  &:active {
   opacity: 0.6;
  }
 }
}

/* __WATCH */
.__watch {
 padding: 1rem;
 padding-bottom: 10rem;
 .row > div:first-child {
  .__video {
   width: 100%;
   padding: 1rem 0;
   padding-right: 8rem;
  }
 }
 .videobox {
  .video {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   border-top-left-radius: 0.6rem;
   border-top-right-radius: 0.6rem;
   .spinner {
    position: absolute;
    align-self: center;
   }
   video {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    background-color: rgba($secondary-color, 0.5);
   }
  }
  .row {
   padding: 2rem 1rem;
   border-bottom-left-radius: 0.6rem;
   border-bottom-right-radius: 0.6rem;
   background-color: $secondary-color;
   & > div {
    display: flex;
    align-items: center;
    padding: 0;
    .profilePicture {
     width: 45px;
     height: 45px;
     border-radius: 10rem;
     object-fit: cover;
    }
    .btn.subscribe-btn {
     background-color: $primary-text-color;
     color: rgba($primary-color, 0.88);
     font-weight: 800;
     font-size: 0.85rem;
     padding: 0.35rem 1rem;
     padding-left: 0.5rem;
     margin-left: 1rem;
     svg {
      margin-right: 0.3rem;
     }
    }
    .profile {
     padding: 0 0.8rem;
     line-height: 1rem;
     p {
      margin: 0;
      font-size: 0.8rem;
     }
     span {
      font-size: 0.7rem;
      color: rgba($primary-text-color, 0.5);
     }
    }
    .all {
     margin-left: auto;
     .btn {
      background-color: rgba($primary-text-color, 0.1);
      color: $primary-text-color;
      font-weight: 800;
      font-size: 0.85rem;
      padding: 0.35rem 1rem;
      border: none;
      span {
       margin-left: 0.3rem;
       font-size: 0.7rem;
      }
      svg {
       fill: $primary-text-color;
      }
      &.active {
       background-color: rgba($primary-other-color, 0.2);
       svg {
        fill: $primary-other-color;
       }
      }
      &:active {
       transform: scale(0.9);
      }
     }
     .btn.share {
      svg {
       margin-top: -4px;
      }
     }
    }
   }
  }
 }
 .__comments {
  padding: 1rem;
  margin: 1rem 0;
  background-color: $secondary-color;
  border: 1px solid rgba($primary-text-color, 0.1);
  border-radius: 0.6rem;
  .heading {
   font-weight: 800;
   margin: 0;
   svg {
    fill: $primary-text-color;
    margin-right: 0.5rem;
   }
  }
  .count {
   margin: 0;
   font-size: 0.7rem;
   padding: 0.2rem;
  }
  button {
   font-size: 0.7rem;
   border: 0;
   outline: none;
   background-color: transparent;
   color: rgba($primary-text-color, 0.5);
   padding: 0.2rem 0.5rem;
   margin-left: 0.5rem;
   border-radius: 0.3rem;
   height: 1.5rem;
   &:hover {
    background-color: rgba($primary-text-color, 0.1);
   }
  }
 }
 .card-body {
  background: $secondary-color !important;
  color: $primary-text-color;
  padding: 1.5rem;
  border: 1px solid rgba($primary-text-color, 0.1);
  h2 {
   font-weight: 400;
   font-size: 1.1rem;
   text-transform: capitalize;
   letter-spacing: 1px;
   padding-bottom: 0.7rem;
  }
  h3 {
   font-size: 0.8rem;
   font-weight: 800;
   margin: 0;
  }
  p {
   font-size: 0.8rem;
  }
 }
}
.__watch-bottom-control {
 position: fixed;
 bottom: 20px;
 right: 20px;
 display: flex;
 align-items: center;
 gap: 1rem;
 .play-pause-button,
 .fullscreen-button {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .play-pause-button,
 .fullscreen-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: $primary-other-color;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  svg {
   fill: $primary-text-color;
  }
  &:active {
   background-color: rgba($primary-other-color, 0.8);
  }
 }
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 1500px) {
 .__home > .row > div:first-child {
  display: none;
 }
 .__home > .row > div:last-child {
  width: 100%;
 }
 .__commonCss {
  padding: 1rem 1rem 4rem 1rem;
 }
}

@media screen and (min-width: 1200px) {
 .__watch {
  padding: 1rem;
  .row > div {
   padding: 0 2rem !important;
  }
 }
}

@media screen and (max-width: 1700px) {
 .__watch {
  .row > div:first-child {
   .__video {
    padding-right: 0 !important;
   }
  }
 }
}

@media screen and (min-width: 985px) {
 .__watch {
  .card-body {
   height: unset !important;
   .btn-toggle-description {
    display: none;
   }
  }
 }
}

@media screen and (max-width: 992px) {
 .__navbar {
  .navbar {
   .input-group {
    max-width: 300px;
    input {
     font-size: 0.8rem;
    }
   }
  }
 }
 .__watch {
  & > div > .row > div:first-child {
   order: 2;
  }
  .__other-videos {
   .__video {
    padding-right: 0 !important;
   }
  }
  .card-body {
   height: 200px;
   overflow: hidden;
   position: relative;
   &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, $secondary-color);
   }
   .btn-toggle-description {
    position: absolute;
    bottom: 0.7rem;
    right: 1rem;
    color: $primary-text-color;
    font-weight: 800;
    font-size: 0.6rem;
    background-color: rgba($primary-text-color, 0.2);
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
   }
  }
 }
}

@media screen and (max-width: 768px) {
 .__navbar {
  .navbar {
   padding-bottom: 1rem;
   .navbar-brand {
    h2 {
     font-size: 1rem;
     margin-top: 0.1rem;
    }
   }
   .input-group {
    min-width: 300px;
    margin-left: auto;
    input {
     font-size: 0.8rem;
    }
   }
  }
 }
 .__sidemenu {
  padding: 1rem 1rem 4rem 0;
  button {
   width: 100%;
   overflow: auto;
   color: $primary-text-color;
  }
  a.active button {
   color: $primary-other-color;
  }
 }
 .__home .row > div:first-child {
  display: block;
 }
 .__watch {
  padding: 1rem 0 10rem 0;
  .row > div {
   padding: 0 1rem !important;
  }
  .card-body h2 {
   font-size: 0.9rem !important;
  }
  .videobox {
   h3 {
    font-size: 1rem;
    line-height: 1.6rem;
   }
   .spinner-border {
    width: 2rem !important;
    height: 2rem !important;
    border-width: 0.28rem !important;
   }
   .row {
    padding: 1rem 0.4rem;
    & > div {
     .profilePicture {
      width: 40px;
      height: 40px;
     }
     button {
      font-size: 0.7rem;
      padding: 0.3rem 0.8rem;
      margin-left: 0.5rem;
     }
     .all {
      margin-left: -0.5rem;
     }
     .profile {
      padding: 0 0.5rem;
      line-height: 0.8rem;
      p {
       font-size: 0.7rem;
      }
      span {
       font-size: 0.6rem;
      }
     }
    }
   }
  }
 }
}
