@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

::-webkit-scrollbar-button {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  position: relative;
}

img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212529 url(video-error-thumb.jpg) no-repeat center;
  background-size: cover;
  color: transparent;
}

.row {
  margin: 0 !important;
}

.alert .btn-close:hover,
.alert .btn-close:focus {
  box-shadow: none !important;
}

/*** __NAVBAR ***/
.__navbar {
  width: 100%;
  min-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
  z-index: 10000;
}
.__navbar .navbar {
  padding: 0.3rem 1rem;
}
.__navbar .navbar .navbar-brand a {
  text-decoration: none;
}
.__navbar .navbar .navbar-brand h2 {
  margin: 0;
  margin-left: 0.3rem;
  padding-top: 0.2rem;
  color: #fff;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: -1px;
}
.__navbar .navbar .input-group {
  max-width: 600px;
  margin-right: 0.5rem;
}
.__navbar .navbar .input-group input {
  background-color: #0f0f0f;
  padding-left: 1rem;
  font-size: 0.9rem;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.2);
}
.__navbar .navbar .input-group input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.__navbar .navbar .input-group input:focus {
  box-shadow: none !important;
  border-color: #3498db;
}
.__navbar .navbar .input-group button {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 0 !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.__navbar .navbar .input-group button svg {
  fill: #fff;
}
.__navbar .navbar .input-group button:last-child {
  padding: 0.5rem 0.8rem;
}
.__navbar .navbar .menu .btn-round {
  padding: 0.5rem 0.6rem;
}
.__navbar .navbar .menu .btn-round#profile-image {
  padding: 0.3rem 0.35rem;
}
.__navbar .btn-round {
  background-color: transparent;
  padding: 0.3rem 0.55rem;
  border: 0;
  outline: 0;
  border-radius: 10rem !important;
}
.__navbar .btn-round svg {
  fill: #fff;
  margin-top: -0.2rem;
}
.__navbar .btn-round img {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 100rem;
  object-fit: cover;
}
.__navbar .btn-round:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.__navbar .btn-round:active, .__navbar .btn-round.active {
  background-color: rgba(255, 255, 255, 0.15);
}
.__navbar #notifNumber {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.6rem;
  padding-top: 0.3rem;
  border-radius: 100rem;
  margin-left: -1.2rem;
  margin-top: 0.5rem;
}
.__navbar .__account-menu,
.__navbar .__notification-menu {
  position: absolute;
  right: 0;
  width: 0px;
  min-height: 400px;
  background-color: #212529;
  border-radius: 0.8rem;
  z-index: 100000;
  font-size: 0.8rem;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}
.__navbar .__account-menu.visible,
.__navbar .__notification-menu.visible {
  opacity: 1;
  width: 300px;
}
.__navbar .__account-menu .spinner,
.__navbar .__notification-menu .spinner {
  margin-top: 3rem;
}
.__navbar .__account-menu > * > h5,
.__navbar .__notification-menu > * > h5 {
  margin: 0 !important;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 800;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.__navbar .__account-menu .__body,
.__navbar .__notification-menu .__body {
  width: 100%;
  padding: 1rem;
}
.__navbar .__account-menu .__body input,
.__navbar .__notification-menu .__body input {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}
.__navbar .__account-menu .__body button,
.__navbar .__notification-menu .__body button {
  font-size: 0.8rem;
  margin: 0.4rem 0;
}
.__navbar .__notification-menu.visible {
  opacity: 1;
  width: 400px;
}
.__navbar .__notification-menu .__body {
  padding: 0;
}
.__navbar .__notification-menu .__body .list-group {
  max-height: 300px;
  overflow-y: auto;
  border-radius: 0;
  user-select: none;
}
.__navbar .__notification-menu .__body .list-group .list-group-item {
  padding: 0.8rem 0.8rem;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
}
.__navbar .__notification-menu .__body .list-group .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
.__navbar .__notification-menu .__body .list-group .list-group-item h6 {
  font-size: 0.8rem;
  font-weight: 800;
  margin: 0;
  padding-bottom: 0.2rem;
}
.__navbar .__notification-menu .__body .list-group .list-group-item p {
  font-size: 0.7rem;
  margin: 0;
}
.__navbar .loading-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #3498db;
  z-index: 100000;
  animation: loading-bar-animation 1s linear;
}
@keyframes loading-bar-animation {
  0% {
    height: 2px;
    left: -85%;
  }
  100% {
    height: 2px;
    left: 100%;
  }
}
.__navbar .layer-blur {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.2);
  backdrop-filter: blur(5px);
  z-index: -1000;
}

/*** __SIDEMENU ***/
.__sidemenu {
  width: 100%;
  position: sticky;
  top: 65px;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem 0.5rem;
}
.__sidemenu button {
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: capitalize;
  width: 100%;
  padding: 0.35rem 0.9rem;
  background-color: transparent;
  color: #fff;
  border-radius: 0.8rem;
  border: 0;
  font-size: 0.9rem;
  margin: 0.1rem 0;
  font-weight: 400;
}
.__sidemenu button svg {
  width: 17px;
  height: 17px;
  fill: #fff;
  margin-bottom: -0.2rem;
  margin-right: 0.7rem;
}
.__sidemenu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.__sidemenu button:active {
  background-color: rgba(255, 255, 255, 0.15);
}
.__sidemenu .mobileBtn {
  display: none;
}
.__sidemenu a.active button {
  background-color: rgba(52, 152, 219, 0.2);
  font-weight: 500;
  color: #3498db;
}
.__sidemenu a.active svg {
  fill: #3498db;
}
.__sidemenu a.active:hover button {
  background-color: rgba(52, 152, 219, 0.2);
}

/*** __PAGES ***/
.__commonCss > .row > div:last-child {
  padding: 1rem 0;
}

/* __HOME */
.__video a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
}
.__video .video .thumbnail {
  position: relative;
  width: 100%;
}
.__video .video .thumbnail img {
  width: 100%;
  min-height: 180px;
  aspect-ratio: 16/9;
  background-color: rgba(255, 255, 255, 0.1);
  object-fit: cover;
  border-radius: 0.8rem;
  position: relative;
}
.__video .video .thumbnail span {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
  background-color: #1e1e1e;
  border-radius: 0.2rem;
  padding: 0 0.2rem;
}
.__video .video .info {
  padding: 0.8rem 0.2rem;
}
.__video .video .info img {
  width: 35px;
  height: 35px;
  border-radius: 100rem;
  background-color: rgba(255, 255, 255, 0.1);
  object-fit: cover;
}
.__video .video .info p {
  font-size: 0.8rem;
  padding-bottom: 0.3rem;
  margin: 0;
  text-transform: capitalize;
}
.__video .video .info .vws {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.__video .video .info .details {
  line-height: 0.78rem;
  padding-top: 0.2rem;
}
.__video .video .info .details span {
  color: rgba(255, 255, 255, 0.5);
  padding: 0.1rem 0.5rem;
}
.__video .video .info .details span:first-child {
  font-size: 0.68rem;
  opacity: 0.8;
}
.__video .video .info .details span:last-child {
  font-size: 0.78rem;
}
.__video .video:hover {
  opacity: 0.8;
}
.__video .video:active {
  background-color: rgba(255, 255, 255, 0.05);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.__category-container {
  position: relative;
  margin: 0.1rem 0;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.__category-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8%;
  height: 100%;
  background: linear-gradient(to right, transparent, #0f0f0f);
}
.__category-container .category {
  display: inline-block;
  min-width: fit-content;
  padding: 0.2rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 0.8rem;
  border: 0;
  font-size: 0.8rem;
  margin: 0 0.5rem;
  cursor: pointer;
  user-select: none;
}
.__category-container .category svg {
  fill: #fff;
  margin-top: -0.2rem;
  margin-right: 1rem;
}
.__category-container .category.active {
  background-color: rgba(255, 255, 255, 0.7);
  color: #0f0f0f;
}
.__category-container .category:hover {
  opacity: 0.8;
}
.__category-container .category:active {
  opacity: 0.6;
}

/* __WATCH */
.__watch {
  padding: 1rem;
  padding-bottom: 10rem;
}
.__watch .row > div:first-child .__video {
  width: 100%;
  padding: 1rem 0;
  padding-right: 8rem;
}
.__watch .videobox .video {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.__watch .videobox .video .spinner {
  position: absolute;
  align-self: center;
}
.__watch .videobox .video video {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  background-color: rgba(33, 37, 41, 0.5);
}
.__watch .videobox .row {
  width: 100%;
  padding: 2rem 1rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  background-color: #212529;
}
.__watch .videobox .row > div {
  display: flex;
  align-items: center;
  padding: 0;
}
.__watch .videobox .row > div .profilePicture {
  width: 45px;
  height: 45px;
  border-radius: 10rem;
  object-fit: cover;
}
.__watch .videobox .row > div .btn.subscribe-btn {
  background-color: #fff;
  color: rgba(15, 15, 15, 0.88);
  font-weight: 800;
  font-size: 0.85rem;
  padding: 0.35rem 1rem;
  padding-left: 0.5rem;
  margin-left: 1rem;
}
.__watch .videobox .row > div .btn.subscribe-btn svg {
  margin-right: 0.3rem;
}
.__watch .videobox .row > div .profile {
  padding: 0 0.8rem;
  line-height: 1rem;
}
.__watch .videobox .row > div .profile p {
  margin: 0;
  font-size: 0.8rem;
}
.__watch .videobox .row > div .profile span {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.__watch .videobox .row > div .all {
  margin-left: auto;
}
.__watch .videobox .row > div .all .btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-weight: 800;
  font-size: 0.85rem;
  padding: 0.35rem 1rem;
  border: none;
}
.__watch .videobox .row > div .all .btn span {
  margin-left: 0.3rem;
  font-size: 0.7rem;
}
.__watch .videobox .row > div .all .btn svg {
  fill: #fff;
}
.__watch .videobox .row > div .all .btn.active {
  background-color: rgba(52, 152, 219, 0.2);
  color: #3498db;
}
.__watch .videobox .row > div .all .btn.active svg {
  fill: #3498db;
}
.__watch .videobox .row > div .all .btn:active {
  transform: scale(0.9);
}
.__watch .videobox .row > div .all .btn.share svg {
  margin-top: -4px;
}
.__watch .__comments {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #212529;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.6rem;
}
.__watch .__comments .heading {
  font-weight: 800;
  margin: 0;
}
.__watch .__comments .heading svg {
  fill: #fff;
  margin-right: 0.5rem;
}
.__watch .__comments .count {
  margin: 0;
  font-size: 0.7rem;
  padding: 0.2rem;
}
.__watch .__comments button {
  font-size: 0.7rem;
  border: 0;
  outline: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  height: 1.5rem;
}
.__watch .__comments button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.__watch .card-body {
  background: #212529 !important;
  color: #fff;
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.__watch .card-body h2 {
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-bottom: 0.7rem;
}
.__watch .card-body h3 {
  font-size: 0.8rem;
  font-weight: 800;
  margin: 0;
}
.__watch .card-body p {
  font-size: 0.8rem;
}

.__watch-bottom-control {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 999;
  color: #031927;
}
.__watch-bottom-control .play-pause-button,
.__watch-bottom-control .fullscreen-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.__watch-bottom-control .play-pause-button,
.__watch-bottom-control .fullscreen-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #3498db;
  border-radius: 100rem;
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 1500px) {
  .__home > .row > div:first-child {
    display: none;
  }
  .__home > .row > div:last-child {
    width: 100%;
  }
  .__commonCss {
    padding: 1rem 1rem 4rem 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .__watch {
    padding: 1rem;
  }
  .__watch .row > div {
    padding: 0 2rem !important;
  }
}
@media screen and (max-width: 1700px) {
  .__watch .row > div:first-child .__video {
    padding-right: 0 !important;
  }
}
@media screen and (min-width: 985px) {
  .__watch .card-body {
    height: unset !important;
  }
  .__watch .card-body .btn-toggle-description {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .__navbar .navbar .input-group {
    max-width: 300px;
  }
  .__navbar .navbar .input-group input {
    font-size: 0.8rem;
  }
  .__watch > div > .row > div:first-child {
    order: 2;
  }
  .__watch .__other-videos .__video {
    padding-right: 0 !important;
  }
  .__watch .card-body {
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  .__watch .card-body::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #212529);
  }
  .__watch .card-body .btn-toggle-description {
    position: absolute;
    bottom: 0.7rem;
    right: 1rem;
    color: #fff;
    font-weight: 800;
    font-size: 0.6rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
  }
}
@media screen and (max-width: 768px) {
  .__navbar .navbar {
    padding-bottom: 1rem;
  }
  .__navbar .navbar .navbar-brand h2 {
    font-size: 1rem;
    margin-top: 0.1rem;
  }
  .__navbar .navbar .input-group {
    min-width: 300px;
    margin-left: auto;
  }
  .__navbar .navbar .input-group input {
    font-size: 0.8rem;
  }
  .__sidemenu {
    padding: 1rem 1rem 4rem 0;
  }
  .__sidemenu button {
    width: 100%;
    overflow: auto;
    color: #fff;
  }
  .__sidemenu a.active button {
    color: #3498db;
  }
  .__home .row > div:first-child {
    display: block;
  }
  .__watch {
    padding: 1rem 0 10rem 0;
  }
  .__watch .row > div {
    padding: 0 1rem !important;
  }
  .__watch .card-body h2 {
    font-size: 0.9rem !important;
  }
  .__watch .videobox h3 {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .__watch .videobox .spinner-border {
    width: 2rem !important;
    height: 2rem !important;
    border-width: 0.28rem !important;
  }
  .__watch .videobox .row {
    padding: 1rem 0.4rem;
  }
  .__watch .videobox .row > div .profilePicture {
    width: 40px;
    height: 40px;
  }
  .__watch .videobox .row > div button {
    font-size: 0.7rem;
    padding: 0.3rem 0.8rem;
    margin-left: 0.5rem;
  }
  .__watch .videobox .row > div .all {
    margin-left: -0.5rem;
  }
  .__watch .videobox .row > div .profile {
    padding: 0 0.5rem;
    line-height: 0.8rem;
  }
  .__watch .videobox .row > div .profile p {
    font-size: 0.7rem;
  }
  .__watch .videobox .row > div .profile span {
    font-size: 0.6rem;
  }
}